.App {
  text-align: center;
}

.App > div {
  margin: 30px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

code {
  margin: 0;
  padding: 0.2em 0.4em !important;
  display: block;
}

.code {
  display: block;
  text-align: left;
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  background-color: rgb(199, 204, 204);
}

.error {
  color: red;
}

pre {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
